/* Responsive on tablet device */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.hero {
		padding: 30px 50px;
	}
	.hero .container {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #161616;
		border-radius: 30px;
		margin-top: 20px;
		padding: 0 100px;
		padding-top: 30px;
		height: 400px;
	}
	.hero-text p {
		width: 406px;
	}
	.hero-text .empty-p {
		padding: 10px;
	}
	.hero-text h1 {
		font-size: 40px;
		line-height: 50px;
	}

	.hero-image img {
		width: 323px;
		height: 340px;
		/* padding-left: 30px; */
		/* padding-top: 50px; */
		margin-top: 50px;
	}

	/* Match Box Styling */
	.match {
		padding: 30px 50px;
	}
	.match-container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.match-menu {
		width: 100%;
		height: 120px;
		background-color: transparent;
		text-align: center;
		margin-bottom: 40px;
	}

	.match-menu .upcoming-match,
	.all-group,
	.blog {
		margin-right: 30px;
		border: 1px solid #e8e8e8;
	}
	.match-menu .blog {
		background: #ffffff;
		color: #161616;
	}

	.match-menu .upcoming-active {
		background: #dd0000;
		color: white;
	}
	/* Match Box Styling */

	.match-boxes {
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
	}

	.match-box {
		width: 357px;
		height: 414.21px;
	}

	.match-box img {
		width: 357px;
		height: 200.24px;
	}
	.view-all {
		display: block;
		margin-top: 50px;
	}

	/* Footer Sytling */
	.footer {
		padding: 60px 0px;
	}

	.footer-menu a {
		line-height: 44px;
	}
}

/* Responsive on Mobile Device  */
@media screen and (max-width: 767px) {
	.hero {
		padding: 20px 25px;
		text-align: center;
	}
	.hero .container {
		flex-direction: column;
		padding: 0 40px;
		padding-top: 25px;
		height: 500px;
	}
	.hero-text p {
		font-size: 14px;
		line-height: 24px;
		padding: 15px 0;
		width: 400px;
	}
	.hero-text .empty-p {
		padding: 10px;
	}
	.hero-text h1 {
		font-size: 22px;
		line-height: 33px;
	}

	.hero-image img {
		width: 233px;
		height: 245px;
		padding-left: 0px;
		margin-top: 30px;
	}

	.hero-text a {
		padding: 8px 12px;
	}

	/* Match Box Styling */
	.match {
		padding: 30px 50px;
	}

	.match-container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.match-menu {
		width: 100%;
		height: 120px;
		background-color: transparent;
		text-align: center;
		margin-bottom: 200px;
		margin-right: 0;
	}

	.match-menu .upcoming-match,
	.all-group,
	.blog {
		margin-right: 30px;
		border: 1px solid #e8e8e8;
	}

	.match-menu .upcoming-active {
		background: #dd0000;
		color: white;
	}
	/* Match Box Styling */

	.match-boxes {
		grid-template-columns: repeat(1, 1fr);
		gap: 24px;
	}

	.match-box {
		width: 357px;
		height: 414.21px;
	}

	.match-box img {
		width: 357px;
		height: 200.24px;
	}

	.view-all {
		display: block;
		margin-top: 50px;
	}

	/* Footer Sytling */
	.footer {
		padding: 60px 0px;
	}

	.footer-menu a {
		line-height: 44px;
	}
}
