/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Default Styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: "Poppins", sans-serif;
}

/* Hero Section Styling */
.hero,
.match {
	padding: 30px 120px;
}
.hero .container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #161616;
	border-radius: 30px;
	margin-top: 20px;
	padding: 0 100px;
	padding-top: 30px;
}

.hero-text h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 80px;
	color: #ffffff;
}

.hero-text p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #ffffff;
	padding: 30px 0;
	width: 489px;
	margin-bottom: 20px;
}
.hero-text a {
	background: #dd0000;
	border-radius: 5px;
	padding: 16px 25px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #ffffff;
}

.hero-text a:hover {
	transform: scale(1.2);
	transition: 0.4s;
}

.hero-image img {
	width: 581px;
	padding-bottom: 0;
	padding-left: 30px;
}

/* Match Section Stylin */
.match-container {
	display: flex;
}

.match-menu {
	width: 280px;
	height: 312px;
	background: #161616;
	border-radius: 10px;
	padding: 30px;
	margin-right: 25px;
}

.match-menu .upcoming-match,
.all-group,
.blog {
	width: 225px;
	height: 64px;
	background: #ffffff;
	border-radius: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	padding: 17px 20px;
	color: #161616;
	display: inline-block;
	margin-bottom: 30px;
	text-align: center;
}

.match-menu .blog {
	background: #dd0000;
	color: white;
}

.match-boxes {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
}

/* Match Box Styling */
.match-box {
	width: 312px;
	height: 362px;
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	text-align: center;
}

.match-description {
	padding: 20px;
}

.match-description p {
	width: 100px;
	padding: 4px 17px;
	border: 1px solid #161616;
	border-radius: 5px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
	color: #161616;
}

.match-description h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #161616;
	margin-bottom: 20px;
	text-align: left;
}

.match-description .match-info {
	display: flex;
}

.match-info .time {
	margin-right: 30px;
}

.match-info .time i,
.comment i {
	width: 18px;
	margin-right: 5px;
}
.view-all-button {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.view-all {
	background: #dd0000;
	border-radius: 5px;
	padding: 16px 25px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #ffffff;
	width: 131px;
	display: none;
}

/* Footer Styling */
.footer {
	background: #161616;
	padding: 130px 0px;
	text-align: center;
}

.footer h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	color: #ffffff;
	padding-bottom: 50px;
}

.footer .social-share {
	margin-bottom: 20px;
}
.footer .social-share a {
	font-size: 19px;
	color: #dd0000;
	margin-right: 20px;
}

.footer-menu a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #b9b9b9;
	margin-right: 25px;
}

.footer-menu a:hover {
	color: #dd0000;
	transition: 0.4s;
}

/* Upcoming Match Page Styling */

.flags {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flags span {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #161616;
}

.flag-box {
	width: 312px;
	height: 242px;
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	padding: 53px 30px;
	text-align: center;
}

.flag-description h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: #161616;
	margin-top: 20px;
}

.flag-description p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #4d4d4d;
	margin-top: 10px;
}
